Body {
    background-image: url("graphics/brooklyn-edited.jpg");
    background-repeat: repeat; /* Do not repeat the image */
    background-size: cover;

    background-color: red;

    color: white;
}

#main {
    position: absolute; 
    left: 20px;
}


h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 45px;
}

#hero {
    position: absolute; 
    padding: 20px;
    left: 450px;
}

#title {
    position: absolute; 
    left: 20px;
}

p {
    font-size: 18px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

#midBody {
   position: absolute; 
   top: 750px; 
    width: 1500px;
   /* left: 75px; */
}

#bottomBody {
   /* position: absolute; */
    top: 935px;
    left: 1150px;
  
} 

ul {
    font-size: 20px; 
}

li {
    padding: 10px;
}

#ulPic {
    padding: 5px;
}

/* mouse over the link to change color -- DOES NOT WORK on images */
a:hover {
    /* color:red; */
    border-color: red;
    border-style: solid;
    border-width: 10px;
}

#bugle {
    padding-top: 35px;
}

